@keyframes animatedHeart {
  0%,
  90% {
    transform: scale(1);
  }
  20%,
  70% {
    transform: scale(0.85);
  }
  25%,
  40% {
    transform: scale(1.25);
  }
}

.grid-item {
  display: flex;
  position: relative;
  transition: opacity ease-in, 0.2s;

  &.hidden {
    opacity: 0;
  }

  .grid-item__image {
    width: 100%;
    height: auto;
    display: block;
  }

  .grid-item__button {
    position: absolute;
    bottom: 0.25rem;
    left: 0.25rem;
    display: inline-flex;
    padding: 0.25rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .grid-item__icon {
    width: 1.25rem;
    height: 1.25rem;
    color: white;

    &:hover {
      fill: white;
      opacity: 0.75;
    }

    &.filled {
      fill: white;
    }

    &.animate {
      animation: animatedHeart 0.2s ease-out;
    }
  }
}
