.grid {
  columns: 2;
  gap: 0.5rem;

  .grid-item {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}

@media screen and (min-width: 450px) {
  .grid {
    columns: 3;
  }
}

@media screen and (min-width: 550px) {
  .grid {
    columns: 4;
  }
}
